.App {
  height: 100vh;
  background-image: url("https://wallpapercave.com/wp/wp2691434.jpg");
  background-size: cover;
  font-size: 20px;
}
.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 50%;
  max-height: 40%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  padding: 32px;
}
.resultContainer {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px;
  overflow-wrap: break-word;
  border-radius: 16px;
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.numberinput {
  max-width: 50px;
}
.password {
  min-height: 25px;
}
