.App {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 200px;
  background-color: rgb(169, 255, 119);
  height: 100vh;
  width: 100vw;
}
.container {
  display: grid;
  gap: 50px 100px
}
.input {
  padding-left: 60px;
}
.numberinput {
  padding-left: 60px;
  padding-top: 250px;
}
.checkbox {
  padding-left: 80px;
}
.button {
  max-width: 5%;
  margin-left: 80px;
}
